
  h1 {
    font-family: cursive;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  p {
    padding: 1rem 1rem;
		font-size: 1rem;
    margin: 1.2rem;;}
    
  strong {
  font-family: cursive;
    align-items: center;
    background-color: $bgcolor-4;
    margin-bottom: 2.5rem;  
  }