$bgcolor-1: #ff6347;
$bgcolor-2: rgb(214, 33, 33);
$bgcolor-3: rgb(165, 24, 24);
$bgcolor-4: rgb(222, 189, 148);
$bgcolor-5: orange;
$black-4: #080808;
$black-1: #3b413a;
$black-2: #3f3c3c;
$black-3: #5b6359;
$white-1: #e8e8e8;
