*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  color: #3b413a;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  color: #3b413a;
}

.nav {
  border-bottom: 1px solid #a51818;
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.nav__toggle svg {
  width: 1.5rem;
  fill: #080808;
}

.nav__toggle .close {
  display: none;
}

.nav__toggle .menu {
  margin-top: 0.2rem;
}

.nav__checkbox {
  display: none;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.nav__menu li {
  list-style: none;
  display: none;
}

.nav__menu li:first-child {
  margin-right: auto;
  display: block;
}

.nav__menu a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.nav__menu svg {
  width: 1.5rem;
  fill: #080808;
}

#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

@media only screen and (min-width: 560px) {
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__menu li {
    display: block;
  }
}

.phone-number {
  position: absolute;
  top: 0;
  left: 0;
  margin: 40px;
  margin-left: 90px;
  margin-bottom: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 14px;
  font-weight: 400;
}

.phonelink {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
}

.phoneicon {
  width: 50px;
  height: 30px;
  padding: 1px;
  margin-right: 5px;
  color: #080808;
}

@media screen and (max-width: 480px) {
  .phoneicon {
    display: block;
  }
}

@media screen and (min-width: 481px) {
  .phoneicon {
    display: none;
  }
}

.btn {
  color: #e8e8e8;
  font-family: "Inter", sans-serif;
  border-radius: 0.2rem;
  font-size: 14px;
  padding: 1.2rem 1.2rem;
}

.primary-btn {
  color: #e8e8e8;
  background: #ff6347;
}

@media only screen and (min-width: 700px) {
  .btn {
    padding: 1rem 1rem;
    font-size: 14px;
  }
}

body {
  background: #ff6347;
  color: #e8e8e8;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  padding: 1em;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.contact-header {
  text-align: center;
}

.wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(165, 24, 24, 0.8);
          box-shadow: 0 0 20px 0 rgba(165, 24, 24, 0.8);
}

.wrapper > * {
  padding: 1em;
}

.company-info {
  background: #d62121;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: #debd94;
}

.contact form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .stretch {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid orange;
}

.contact form button {
  background: #d62121;
  border: 0;
  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  background: orange;
  color: #e8e8e8;
  outline: 0;
  -webkit-transition: background-color 2s ease-in-out;
  transition: background-color 2s ease-in-out;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

.wrapper > * {
  padding: 2em;
}

.company-info h3,
.company-info ul,
.contact-header {
  text-align: left;
}

.mapcontainer {
  position: relative;
  border: 3px solid orange;
  width: 100%;
  height: auto;
  padding-left: 30px;
  padding-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mapcontainer iframe {
  width: 100%;
  height: 100%;
  padding-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 400px) {
  .mapcontainer {
    max-width: 100%;
    height: 70vh;
    padding-left: 0;
    padding-top: 0;
  }
  .mapcontainer iframe {
    height: 69.5vh;
    max-width: 100%;
  }
}

.footer {
  text-transform: uppercase;
  font-size: 14px;
  color: #e8e8e8;
  background-color: #a51818;
  justify-items: center;
  min-height: 40vh;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer__copyright {
  display: block;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  margin: 1rem;
  cursor: pointer;
}

a {
  -webkit-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
  color: #e8e8e8;
  line-height: 1.5rem;
}

a:hover {
  color: orange;
  cursor: pointer;
}

.footer__logo img {
  width: 30%;
}

@media only screen and (min-width: 200px) and (max-width: 400px) {
  .footer__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}
/*# sourceMappingURL=contactstyle.css.map */