//  <!--menu-->

@import "colors";

@import "variables";

@import "navstyles";

.menu__header {
  padding: 10px;
  text-align: center;
  background: $bgcolor-5;
  color: white;
  height: 40vh;
  font-size: $font-size;
}

.container {
  margin: 0;
  padding: 1.5em;
}

.menu {
  font-family: $font-family;
  font-size: $font-size;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid $bgcolor-3;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.7em;
  padding: 1.7em 0;
}

.menu-item {
  display: flex;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.7em;
  border: 3px solid $white-1;
  border-radius: 4px;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.4em;
}

p {
  text-align: justify;
  text-justify: auto;
}

.menu-item-image:hover {
  box-shadow: 0 0 2px 1px rgb(255, 165, 0);
}

@media screen and (min-width: 520px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}

@media screen and (min-width: 520px) {
  .menu__header {
    padding: 20px;
    text-align: center;
    background: $bgcolor-5;
    color: white;
    height: 40vh;
    font-size: 16px;
  }
}

@media screen and (min-width: 720px) {
  .menu__header {
    padding: 60px;
    text-align: center;
    background: $bgcolor-5;
    color: white;
    height: 40vh;
    font-size: 30px;
  }
}

@import "footerstyles";
