.nav {
  border-bottom: 1px solid #a51818;
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.nav__toggle svg {
  width: 1.5rem;
  fill: #5b6359;
}

.nav__toggle .close {
  display: none;
}

.nav__toggle .menu {
  margin-top: 0.2rem;
}

.nav__checkbox {
  display: none;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.nav__menu li {
  list-style: none;
  display: none;
}

.nav__menu li:first-child {
  margin-right: auto;
  display: block;
}

.nav__menu a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.nav__menu svg {
  width: 1.5rem;
  fill: #5b6359;
}

#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

@media only screen and (min-width: 560px) {
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__menu li {
    display: block;
  }
}

.phonelink {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
}

.phoneicon {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 480px) {
  .phoneicon {
    display: block;
  }
}

@media screen and (min-width: 481px) {
  .phoneicon {
    display: none;
  }
}

.btn {
  color: #e8e8e8;
  font-family: "Inter", sans-serif;
  border-radius: 0.2rem;
  font-size: 14px;
  padding: 1.2rem 1.2rem;
}

.primary-btn {
  color: #e8e8e8;
  background: #FF6347;
}

@media only screen and (min-width: 700px) {
  .btn {
    padding: 1rem 1rem;
    font-size: 14px;
  }
}

.menu__header {
  padding: 10px;
  text-align: center;
  background: orange;
  color: white;
  height: 40vh;
  font-size: 14px;
}

.container {
  margin: 0;
  padding: 1.5em;
}

.menu {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #a51818;
}

.menu-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.7em;
  padding: 1.7em 0;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1.7em;
  border: 3px solid #e8e8e8;
  border-radius: 4px;
}

.menu-item-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu-item-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.4em;
}

p {
  text-align: justify;
  text-justify: auto;
}

.menu-item-image:hover {
  -webkit-box-shadow: 0 0 2px 1px orange;
          box-shadow: 0 0 2px 1px orange;
}

@media screen and (min-width: 520px) {
  .menu {
    font-size: 16px;
  }
  .menu-group {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}

@media screen and (min-width: 520px) {
  .menu__header {
    padding: 60px;
    text-align: center;
    background: orange;
    color: white;
    height: 40vh;
    font-size: 30px;
  }
}

.footer {
  text-transform: uppercase;
  font-size: 14px;
  color: #e8e8e8;
  background-color: #a51818;
  justify-items: center;
  min-height: 40vh;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer__copyright {
  display: block;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  margin: 1rem;
  cursor: pointer;
}

a {
  -webkit-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
  color: #e8e8e8;
  line-height: 1.5rem;
}

a:hover {
  color: orange;
  cursor: pointer;
}

.footer__logo img {
  width: 30%;
}

@media only screen and (min-width: 200px) and (max-width: 400px) {
  .footer__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}
/*# sourceMappingURL=stylesmenu.css.map */