*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  color: #3b413a;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  color: #3b413a;
}

.nav {
  border-bottom: 1px solid #a51818;
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.nav__toggle svg {
  width: 1.5rem;
  fill: #080808;
}

.nav__toggle .close {
  display: none;
}

.nav__toggle .menu {
  margin-top: 0.2rem;
}

.nav__checkbox {
  display: none;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.nav__menu li {
  list-style: none;
  display: none;
}

.nav__menu li:first-child {
  margin-right: auto;
  display: block;
}

.nav__menu a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.nav__menu svg {
  width: 1.5rem;
  fill: #080808;
}

#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

@media only screen and (min-width: 560px) {
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__menu li {
    display: block;
  }
}

.phone-number {
  position: absolute;
  top: 0;
  left: 0;
  margin: 40px;
  margin-left: 90px;
  margin-bottom: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 14px;
  font-weight: 400;
}

.phonelink {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
}

.phoneicon {
  width: 50px;
  height: 30px;
  padding: 1px;
  margin-right: 5px;
  color: #080808;
}

@media screen and (max-width: 480px) {
  .phoneicon {
    display: block;
  }
}

@media screen and (min-width: 481px) {
  .phoneicon {
    display: none;
  }
}

.btn {
  color: #e8e8e8;
  font-family: "Inter", sans-serif;
  border-radius: 0.2rem;
  font-size: 14px;
  padding: 1.2rem 1.2rem;
}

.primary-btn {
  color: #e8e8e8;
  background: #ff6347;
}

@media only screen and (min-width: 700px) {
  .btn {
    padding: 1rem 1rem;
    font-size: 14px;
  }
}

.hero__heading {
  max-width: none;
  width: 90%;
}

img {
  width: 100%;
}

.button__wrapper {
  text-align: center;
}

.btn {
  color: #e8e8e8;
  font-family: "Inter", sans-serif;
  border-radius: 0.2rem;
  font-size: 14px;
  padding: 1rem 1rem;
  background-color: #ff6347;
}

@media only screen and (min-width: 300px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    gap: 5rem;
    font-size: 24px;
  }
  .hero__img {
    height: 50%;
    width: 100vw;
    margin: 0 auto;
    background-position: centre;
    background-size: cover;
    position: relative;
  }
  .hero__img img {
    width: 100%;
  }
  .hero__text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #e8e8e8;
  }
  .hero__heading {
    font-family: "Inter", sans-serif;
    line-height: 1.4em;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .button__wrapper {
    text-align: center;
  }
}

.slider {
  overflow: hidden;
  height: 100vh;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  -webkit-animation: 20s slider infinite;
          animation: 20s slider infinite;
}

.slider figure img {
  width: 20%;
  float: left;
  height: 100vh;
}

@-webkit-keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.footer {
  text-transform: uppercase;
  font-size: 14px;
  color: #e8e8e8;
  background-color: #a51818;
  justify-items: center;
  min-height: 40vh;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer__copyright {
  display: block;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  margin: 1rem;
  cursor: pointer;
}

a {
  -webkit-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
  color: #e8e8e8;
  line-height: 1.5rem;
}

a:hover {
  color: orange;
  cursor: pointer;
}

.footer__logo img {
  width: 30%;
}

@media only screen and (min-width: 200px) and (max-width: 400px) {
  .footer__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}
/*# sourceMappingURL=stylemain.css.map */